* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./../img/bg.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.tablero {
    border: 2px solid red;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border: 2px solid magenta;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}