body {
    font-family: Arial, sans-serif;
    background-image: url(./../img/bg.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

section {
    max-width: 900px;
    margin: 200px auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    backdrop-filter: blur(1rem);
    box-shadow: 0 1rem 1rem;
}

h1 {
    margin: 20px 0;
    color: #fff;
}

input {
    margin: 20px auto;
    font-size: 35px;
    max-width: 500px;
    border-radius: 15px;
}

label {
    color: #fff;
}

button {
    border: 0 solid rgba(100,100,100,0.1);
    padding: 20px;
    width: 250px;
    font-family: sans-serif;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    background-image: linear-gradient(to left, #0067DA, #161569,#0007DA);
    margin: 20px auto;
}

button:hover {
    background-position: right;
}

.container-cards {
    text-align: center;
    max-width: 900px;
    margin: 10px auto;
    border-radius: 10px;
    backdrop-filter: blur(1rem);
    box-shadow: 0 1rem 1rem;
    padding: 20px;
}

.title h1 {
    font-size: 60px;
    color: white;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.card {
    width: 200px;
    height: 200px;
    background-image: url(./../img/card.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.card img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}



