* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./../img/bg.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
}


.container {
    border: 2px solid magenta;
    max-width: 900px;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    margin-top: 30px;
}

h1 {
    margin: 30px auto;
}